<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Link stylesheet -->
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
</head>
<body>
    <div class="title">
        <!-- Title is a link to direct back to main products page -->
      <h1> <a href = "/"> Farm<br>Fresh</a></h1>
    </div>
    <form name="login_user" action="./login_user" method="POST">

    <h2>Customer Login</h2>
    <div class = "comment">To complete your purchase log in or register.</div><br>

        <!-- Div class = "float container" to put two div's side-by-side code from https://coder-coder.com/display-divs-side-by-side/ -->
        <div class="flex-container">
            <div class="flex-child existing_user"><div id = "existing_user">Existing Customers</div><br>
                        <label for="username"><b>Username</b></label><br>
                        <input type="text" size = "50" placeholder="Username" name="username" class="username" required />
                        <br /><br />
                        <label for="password"><b>Password</b></label><br>
                        <input type="password" size = "50" placeholder="Password" name="password" class="password" required /><br><br>
                        <!-- // Render submit Login button -->
                        <script>document.write(`<input type="submit" value='Log In' id ="loginButton" name="do_login">`);
                        </script>
                        </div>
    </form>

    </div>
</body>
<footer><div class="container register">
    <p>Don't have an account? <a href ="/register" class = "registerlink">Register Here</a></p>
</div></footer>
</html>