input#purchaseButton {
  outline: none;
  width: 125px;
  text-align: center;
  font-size: 17px;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  background-color: #1f214a;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: sans-serif;
  margin: 0 auto;
}
#usergreeting {
  text-align: right;
  color: red;
  padding-top: 15px;
  font-size: 19px;
  font-family: sans-serif;
  padding-right: 5px;
}

#myBtn {
  background-color: white;
  border: white;
  cursor: pointer;
  font-size: 15px;
  font-family: sans-serif;
}
#return_policy {
  padding-top: 10px;
  border-top-style: double;
  border-top-color: #404040;
}
#purchase {
  padding-top: 50px;
  font-weight: normal;
}
#return_to_cart {
  padding-top: 50px;
  color: #dd3939;
}
#cart_title {
  text-align: center;
  border-top-style: double;
  border-bottom-color: #404040;
  border-top-color: #404040;
  border-bottom-style: double;
  font-size: 25px;
  font-weight: lighter;
  font-family: sans-serif;
}
.center {
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
}
.title {
  text-align: center;
  font-family: sans-serif;
  color: black;
  font-size: 22px;
  background: url(https://i.pinimg.com/originals/60/9f/79/609f7928fb58331fd2f837d1c705c9fd.jpg);
}

h2 {
  text-align: center;
  border-top-style: double;
  border-bottom-color: #404040;
  border-top-color: #404040;
  border-bottom-style: double;
  font-size: 25px;
  font-weight: lighter;
  font-family: sans-serif;
}
h3 {
  border-bottom-color: #404040;
  border-bottom-style: double;
  font-size: 28px;
  font-weight: lighter;
  font-family: sans-serif;
}
td,
th {
  font-family: sans-serif;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
