.title {
  text-align: center;
  font-family: sans-serif;
  color: black;
  font-size: 22px;
  background: url(https://i.pinimg.com/originals/60/9f/79/609f7928fb58331fd2f837d1c705c9fd.jpg);
}

ul.topnavbar {
  list-style-type: none;
  overflow: hidden;
  float: right;
  margin: 10px;
}
li {
  font-size: 19px;
  text-align: center;
  display: inline;
  font-family: sans-serif;
}
h2 {
  text-align: center;
  border-top-style: double;
  border-bottom-color: #404040;
  border-top-color: #404040;
  border-bottom-style: double;
  font-size: 25px;
  font-weight: lighter;
  font-family: sans-serif;
}
h3 {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
}
img {
  width: 145px;
  height: 145px;
}
#imageContainer {
  text-align: center;
  display: inline-block;
  box-sizing: content-box;
  width: 283px;
  height: 283px;
  padding: 5px;
  border: 2px solid #404040;
  margin-bottom: 1px;
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 35px;
}

input#quantity {
  width: 35px;
  padding-left: 6px;
  padding-right: 0;
  height: 35px;
  min-height: 35px;
  font-family: sans-serif;
}
input#addToCart {
  text-align: center;
  font-size: 17px;
  cursor: pointer;
  box-sizing: border-box;
  align-self: center;
  justify-content: center;
  align-content: center;
  background-color: #1f214a;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  margin-top: 5px;
}
input#purchaseButton {
  text-align: center;
  font-size: 23px;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  display: flex;
  align-self: center;
  background-color: #1f214a;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
}
label {
  font-family: sans-serif;
}
.cartIcon {
  width: 25px;
  height: 25px;
  padding-top: 5px;
  position: relative;
  margin-right: 10px;
}
.loginIcon {
  width: 25px;
  height: 25px;
  padding-top: 5px;
  position: relative;
  margin-right: 10px;
}
footer {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}
.dropbtn {
  padding: 3px;
  border: none;
  cursor: pointer;
  background-color: white;
  font-size: 25px;
  font-weight: lighter;
  font-family: sans-serif;
}

.dropdown {
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
  font-family: sans-serif;
}

.dropdown-content {
  display: none;
  position: relative;
  min-width: 160px;
  z-index: 1;
  text-align: center;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
.dropbtn:hover,
.dropbtn:focus {
  background-color: #ddd;
}
h3 {
  text-align: center;
  font-family: sans-serif;
  color: black;
  font-size: 16px;
}
.copyright {
  background: #ddd;
  color: black;
  font-size: 16px;
  text-align: center;
  padding: 20px 2px;
}
