.title {
  text-align: center;
  font-family: sans-serif;
  color: black;
  font-size: 22px;
}
h2 {
  text-align: center;
  border-top-style: double;
  border-bottom-color: #404040;
  border-top-color: #404040;
  border-bottom-style: double;
  font-size: 25px;
  font-weight: lighter;
  font-family: sans-serif;
}
.flex-container {
  display: flex;
  text-align: center;
}
.flex-child {
  flex: 1;
  display: inline-flexbox;
}
input#purchaseButton {
  float: right;
  outline: none;
  width: 235px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-self: center;
  background-color: #1f214a;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: sans-serif;
}
