.title {
  text-align: center;
  font-family: sans-serif;
  color: black;
  font-size: 22px;
}
h2 {
  text-align: center;
  border-top-style: double;
  border-bottom-color: #404040;
  border-top-color: #404040;
  border-bottom-style: double;
  font-size: 25px;
  font-weight: lighter;
  font-family: sans-serif;
}
#existing_user,
#new_user {
  font-size: 25px;
  font-weight: lighter;
  font-family: sans-serif;
  text-align: left;
  border-bottom: 1px solid black;
}
.flex-container {
  display: flex;
}
label {
  font-size: 20px;
  font-family: sans-serif;
}
.flex-child {
  flex: 1;

  display: inline-flexbox;
}

.flex-child:first-child {
  margin-right: 100px;
}
.password,
.username,
.firstname,
.lastname,
.email {
  padding: 12px 20px;
}
input#registerButton,
input#loginButton {
  outline: none;
  width: 400px;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  display: flex;
  align-self: center;
  background-color: #1f214a;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: sans-serif;
}
